.header {
  background-color: maroon;
  opacity: 98%;
  padding: 20px;
  text-align: center;
  color: white;
}

.header h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.btn {
  position: absolute;
  top: 30px;
  right: 50px;
  padding: 10px 20px;
  background-color: #9a330a;
  color: azure;
  width: auto;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: darkred;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.img {
  height: 5rem;
  opacity: 15%;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.icon {
  margin-right: 0.5rem;
}

.badge {
  background-color: #fc8019; /* Red color for the badge */
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 12px; /* Make it oval */
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.btn span {
  margin-right: 0.5rem;
}

.cil-energy.icon.icon-xxl {
  font-size: 1.5rem;
}
